
 <html>
    <head>
<link rel="stylesheet" href="/w3css/4/w3.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      
<!-- 
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
 -->
 <style>
h1{
    text-align:center;
}
 </style>
                
        <title>
            TABLE
        </title>
    </head>
    <body >
      <!--  <h1>{{vall}}</h1> -->
        <h1><%= vall %></h1>
      
        
   
 
    

        <form id ="contactForm" action="/api/get" method="get">
            <fieldset> 
                <input id="name" name="name" type="hidden" value= "<%= naam %>">
                <input id="password" name="password" type="hidden" value="<%= pas %>">
            
                 <input type="submit" value="GET EXISTING MAPPINGS" id="sub" class="w3-btn w3-blue w3-ripple"/>
            </fieldset> 
         </form>
        

    </body>
    </html>
 