<html>
    <head>
      
<link rel="stylesheet" href="/w3css/4/w3.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      

 <style>
h1{
    text-align:center;
}

 </style>
                
        <title>
            DELETE
        </title>
    </head>
   
  
        <h1>
           - MAPPING DELETED SUCCESFULLY -  
        </h1>
        <div class="w3-container">
       
        <button id= "getallmap2" class="w3-btn w3-blue w3-ripple">&#9998; GET ALL MAPPINGS</button>
<script type="text/javascript">
  document.getElementById("getallmap2").onclick = function () {
      location.href = "./indexcopy.ejs"; //changed from indexcopy to ress2   
  };
</script> 



    </body>
    </html>